/* Bike Shop CSS
==================================================
================================================== */
html {
    font-family: program, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
button {
    box-shadow:inset 0px 0px 0px 0px #cf866c;
	background-color:#c03a2b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:program, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration: none;
    text-shadow:0px 1px 0px #000000;
    border: 0px solid #c03a2b;
}
button:hover {
    background-color:#962d22;
}
button a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
strong {
    font-weight: bold;
}
.blur {
    background-color: #111111;
    opacity: 85%;
    width: 100%;
    height: 650px;
}
time.icon {
    font-size: 1em; /* change icon size */
    display: block;
    position: relative;
    width: 5em;
    height: 5em;
    background-color: #fff;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    margin: 0 auto;
}
time.icon * {
    display: block;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}
time.icon strong {
    position: absolute;
    top: 0;
    padding: 0.4em 0;
    color: #fff;
    background-color: #c0392b;
    border-bottom: 1px dashed #6d2019;
    box-shadow: 0 2px 0 #c03a2b;
}
time.icon span {
    color: #444444;
    font-size: 2.8em;
    letter-spacing: -0.05em;
    padding-top: 0.8em;
}
time strong {
    font-weight: normal;
}
/* Header ============================== */
header {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    overflow: hidden;
}
nav {
    background: #444444;
    border-top: 5px solid #c0392b;
}
nav li { display: inline-block; }
nav a {
	display: block;
    padding: 1.3rem;
    margin-left: 50px;
    color: #ffffff;
    opacity: 85%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
nav a:hover {
    color: #999999;
    opacity: 100%;
}
nav .active {
    background-color: #111111;
    color: #ffffff;
}
nav ul {
    margin: 0;
}
/* Banner Image ============================== */
#banner {
    width: 100%;
    height: 600px;
    z-index: 1;
    background-image: url(../images/banner_upscaled.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}
/* News Cards ============================== */
body > section:nth-of-type(2) {
    z-index: 100;
    left: 50%;
    right: 50%;
    top: 20%;
    position: absolute;
    margin-bottom: 0px;
}
body > section:nth-of-type(2) .grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 50px;
    justify-content: center;
    align-content: center;
    display: flex;
}
body > section:nth-of-type(2) .grid h2 {
    font-weight: normal;
    font-size: 3rem;
    color: #c0392b;
    margin-bottom: 10px;
}
body > section:nth-of-type(2) .grid article p:nth-of-type(2) {
    margin-top: 40px;
    margin-right: 10px;
    float: right;
}
body > section:nth-of-type(2) article {
    background-color: #dddddd;
    width: 300px;
    height: 375px;
    text-align: center;
    border: 0px solid #dddddd;
    border-radius: 5px;
}
body > section:nth-of-type(2) article img {
    width: 300px;
    height: 200px;
    border: 0px solid #dddddd;
    border-radius: 5px 5px 0 0;
}
/* Main Events ============================== */
body > section:nth-of-type(3) {
    background-color: #111111;
    width: 100%;
    height: 500px;
    color: #ffffff;
}
body > section:nth-of-type(3) h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #666666;
    font-size: 2rem;
    text-align: center;
    padding-top: 20px;
}
body > section:nth-of-type(3) h2 strong {
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
}
body > section:nth-of-type(3) .grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 100px;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
    margin-top: 50px;
}
body > section:nth-of-type(3) article {
    text-align: center;
}

/* Popular Events ============================== */
body > section:nth-of-type(4) {
    background-image: url(../images/bike.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    color: #dddddd;
}
body > section:nth-of-type(4) h2 {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    padding-top: 20px;
}
body > section:nth-of-type(4) h2 strong {
    font-size: 4rem;
}
body > section:nth-of-type(4) section:nth-child(2) {
    background-color: #dddddd;
    width: 70%;
    height: 450px;
    margin: 0 auto;
    color: #111111;
}
body > section:nth-of-type(4) section:nth-child(2) article {
    margin: 0 auto;
}
body > section:nth-of-type(4) section:nth-child(2) figure {
    margin: 0;
    z-index: 1;
    width: auto;
}
body > section:nth-of-type(4) section:nth-child(2) img {
    width: 35%;
    height: 450px;
    position: absolute;
    word-wrap: break-word;
}
body > section:nth-of-type(4) section:nth-child(2) figcaption {
    background-color: #222;
    color: #fff;
    opacity: 80%;
    font: italic smaller program;
    padding: 3px;
    text-align: center;
    width: 49.53%;
    margin-top: -6px;
    position: relative;
}
body > section:nth-of-type(4) section:nth-child(2) article p:nth-child(2) {
    float: right;
    margin: 5px;
    z-index: 99;
    position: absolute;
    left: 50%;
    word-wrap: break-word;
    width: 34%;
}
body > section:nth-of-type(4) section:nth-child(2) article p:nth-child(3) {
    float: right;
    margin-top: 420px;
    position: relative;
    right: 10px;
}
body > section:nth-of-type(4) section:nth-child(2) article p:nth-child(3)::after {
    content: "\2192";
    padding-left: 5px;
    color: blue;
    text-decoration: none;
}
/* Footer ============================== */
footer {
    position: relative;
    background-color: #111111;
    color: #ffffff;
    text-transform: uppercase;
    height: 550px;
}
footer a {
    color: #444444;
    text-decoration: none;
    text-transform: capitalize;
}
footer p {
    padding-bottom: 10px;
    padding-top: 10px;
}
footer a:hover {
    text-decoration: underline;
    color: #dddddd;
}
footer .grid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 220px;
    justify-content: center;
    align-content: center;
    padding-top: 150px;
}
footer .grid section:nth-child(1) li {
    font-weight: bold;
}
footer .grid section:nth-child(1) a {
    color:white;
    text-transform: uppercase;
}
footer .grid section:nth-child(1) h4 {
    padding-bottom: 10px;
}
footer h4 {
    padding-bottom: 10px;
}
footer li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
footer ul {
    margin: 0;
    padding: 0;
}
footer hr {
    color: #444444;
    width: 90%;
    margin-top: 50px;
    margin: 25px auto;
    padding: 0;
}
#copyright {
    float: left;
    margin-left: 77px;
    padding-top: 25px;
    text-transform: capitalize;
    color: #444444;
    
}
#copyright p {
    padding-right: 20px;
    display: inline-block;
}
#guide {
    float: right;
    margin-right: 77px;
    padding-top: 25px;
}
#guide a {
    padding-left: 20px;
}