/* Bike Shop CSS
==================================================
================================================== */
html {
    font-family: program, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: #111111; */
}
body {
    margin: 0;
    padding: 0;
}
button {
    box-shadow:inset 0px 0px 0px 0px #cf866c;
	background-color:#c03a2b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:program, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration: none;
    text-shadow:0px 1px 0px #000000;
    border: 0px solid #c03a2b;
}
button:hover {
    background-color:#962d22;
}
button a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
strong {
    font-weight: bold;
}
.blur {
    background-color: #111111;
    opacity: 85%;
    width: 100%;
    height: 450px;
}
/* Header ============================== */
header {
    text-align: center;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav {
    background: #444444;
    border-top: 5px solid #c0392b;
}
nav li { display: inline-block; }
nav a {
	display: block;
    padding: 1.3rem;
    color: #999999;
    opacity: 85%;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #dddddd;
    opacity: 100%;
}
nav .active {
    background-color: #111111;
}
#navLinks {
    margin: 0;
}
/* Banner ============================== */
#banner {
    z-index: 9;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 550px;
}
#logo {
    z-index: 100;
    float: left;
    left: 230px;
    right: 0;
    top: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
}
/* Adverts/Redirects ============================== */
#redirects {
    background-color: #111111;
    width: 100%;
    min-height: 550px;
    line-height: 100px;
    position: absolute;
    
}
#container {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 175px;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
}
#bikes {
    background-image: url(../images/bikes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 350px;
    height: 250px;
    color: #dddddd;
    line-height: 50px;
}
#bikes h2 {
    padding: 0;
    background-color: #111111;
    opacity: 90%;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase;
}
#accessories {
    background-image: url(../images/speedometer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    text-align: center;
    color: #dddddd;
    line-height: 50px;
}
#accessories h2 {
    padding: 0;
    background-color: #111111;
    opacity: 90%;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase;
}
#apparel {
    background-image: url(../images/backpack.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    text-align: center;
    color: #dddddd;
    line-height: 50px;
}
#apparel h2 {
    padding: 0;
    background-color: #111111;
    opacity: 90%;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase;
}
/* Featured Products ============================== */
#featured {
    position: relative;
    margin-top: 550px;
    background-color: #dddddd;
    width: 100%;
    min-height: 650px;
}
#featured h2 {
    text-decoration: none;
    font-weight: lighter;
    margin-left: 26%;
    text-transform: uppercase;
}
#featured strong {
    text-transform: uppercase;
}
#grid {
    display: grid;
    grid-template-columns: 175px 175px 175px 175px;
    grid-gap: 60px;
    justify-content: center;
    align-content: center;
}
.item {
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
}
.item:hover {
    border: 3px solid #444444;
}
#featured #description, #price {
    position: inherit;
}
/* Member Benefits ============================== */
#benefits {
    position: relative;
    background-image: url(../images/gears.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    width: 100%;
    min-height: 450px;
    color: #ffffff;
}
/* Footer ============================== */
footer {
    position: relative;
    background-color: #111111;
    color: #ffffff;
    text-transform: uppercase;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}