/* Bike Shop CSS
==================================================
================================================== */
html {
    font-family: program, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
button {
    box-shadow:inset 0px 0px 0px 0px #cf866c;
	background-color:#c03a2b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:program, sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration: none;
    text-shadow:0px 1px 0px #000000;
    border: 0px solid #c03a2b;
}
button:hover {
    background-color:#962d22;
}
button a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}
strong {
    font-weight: bold;
}
.blur {
    background-color: #111111;
    opacity: 85%;
    width: 100%;
    height: 650px;
}
/* Header ============================== */
header {
    text-align: center;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
}
h1 {
    overflow: hidden;
}
nav {
    background: #444444;
    border-top: 5px solid #c0392b;
}
nav li { display: inline-block; }
nav a {
	display: block;
    padding: 1.3rem;
    color: #999999;
    opacity: 85%;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #dddddd;
    opacity: 100%;
}
nav .active {
    background-color: #111111;
    color: #ffffff;
}
nav ul {
    margin: 0;
}
/* Banner ============================== */
#banner {
    z-index: 9;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#logo {
    z-index: 100;
    float: left;
    left: 230px;
    right: 0;
    top: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
}
/* Adverts/Redirects ============================== */
#redirects {
    background-color: #111111;
    width: 100%;
    min-height: 550px;
    line-height: 100px;
    position: absolute;
    
}
#container {
    margin-top: 130px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 175px;
    justify-content: center;
    align-content: center;
    margin-left: 200px;
}
#bikes {
    background-image: url(../images/bikes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 350px;
    height: 250px;
    color: #dddddd;
    line-height: 50px;
}
#bikes h2 {
    padding: 0;
    background-color: #111111;
    opacity: 90%;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase;
}
#accessories {
    background-image: url(../images/speedometer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    text-align: center;
    color: #dddddd;
    line-height: 50px;
}
#accessories h2 {
    padding: 0;
    background-color: #111111;
    opacity: 90%;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase;
}
#apparel {
    background-image: url(../images/backpack.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    text-align: center;
    color: #dddddd;
    line-height: 50px;
}
#apparel h2 {
    padding: 0;
    background-color: #111111;
    opacity: 90%;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    text-transform: uppercase;
}
#redirects button {
    margin-top: 10%;
}
/* Featured Products ============================== */
#featured {
    position: relative;
    margin-top: 550px;
    background-color: #dddddd;
    width: 100%;
    min-height: 750px;
}
#featured h2 {
    text-decoration: none;
    font-weight: lighter;
    left: 23.7%;
    text-transform: uppercase;
    position: relative;
}
#featured strong {
    text-transform: uppercase;
}
#grid {
    display: grid;
    grid-template-columns: 175px 175px 175px 175px;
    grid-gap: 100px;
    justify-content: center;
    align-content: center;
}
.item {
    height: 200px;
    width: 200px;
}
#featured #description, #price {
    position: inherit;
}
/* Member Benefits ============================== */
#benefits {
    position: relative;
    background-image: url(../images/gears.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 90%;
    width: 100%;
    min-height: 650px;
    color: #ffffff;
    text-align: center;
}
#benefits h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #666666;
    font-size: 2rem;
    top: 100px;
    position: relative;
}
#benefits strong {
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
}
.grid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 220px;
    justify-content: center;
    align-content: center;
    margin-top: 10%;
    margin-left: 350px;
}
.grid section {
    text-align: center;
}
.grid section p {
    text-align: center;
    padding: 10px;
    width: 250px;
    position: relative;
    right: 50px;
}
.grid section h3 {
    text-transform: uppercase;
    margin-top: 25px;
}
.grid button {
    position: relative;
    margin-right: 15px;
    bottom: 37px;
    left: 185px;
}
.grid input {
    height: 31px;
    width: 250px;
    position: relative;
    right: 50px;
    margin-top: 10px;
    
}
#truck, #wrench, #envelope {
    border: 5px solid #666666;
}
/* Footer ============================== */
footer {
    position: relative;
    background-color: #111111;
    color: #ffffff;
    text-transform: uppercase;
    height: 550px;
}
footer a {
    color: #444444;
    text-decoration: none;
    text-transform: capitalize;
}
footer p {
    padding-bottom: 10px;
    padding-top: 10px;
}
footer a:hover {
    text-decoration: underline;
    color: #dddddd;
}
footer #grid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-gap: 220px;
    justify-content: center;
    align-content: center;
    padding-top: 150px;
}
footer #grid section:nth-child(1) a {
    color:white;
    text-transform: uppercase;
}
footer #grid section:nth-child(1) h4 {
    padding-bottom: 10px;
}
footer hr {
    color: #444444;
    width: 90%;
    margin-top: 50px;
    margin: 25px auto;
    padding: 0;
}
#copyright {
    float: left;
    margin-left: 77px;
    padding-top: 25px;
    text-transform: capitalize;
    color: #444444;
    
}
#copyright p {
    padding-right: 20px;
    display: inline-block;
}
#guide {
    float: right;
    margin-right: 77px;
    padding-top: 25px;
}
#guide a {
    padding-left: 20px;
}
